  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 50%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1abc9c!important;
    color: white;
  }
  .buttons {
    margin: 50px;
    display: flex;
    justify-content: space-around;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
  }
  .icon:hover {
    color: #fff;
  }
  .phone {
    background: #006599;
    color: white;
  }
  .phone:hover {
    background: white;
    color: #006599;
  }

  .comment {
    background: #2b97f1;
    color: white;
  }
  .comment:hover {
    background: white;
    color: #2b97f1;
  }
  footer{
    background-color: #1abc9c!important;
  }
  .image{
    border-radius: 50%;
  }
